/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    padding: 30px;
}

.hebergements h2 {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.hebergements .cardo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements article {
    background: #FFFFFF;
    width: 250.33px;
    height: 207.25px;
    padding: 0px 0px 15px 0px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    border: 5px solid #FFFFFF;
    justify-content: space-between;
    margin-bottom: 30px;
}

.hebergements img {
    width: 250.33px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.hebergements .Article-Title {

}

.hebergements .Article-Subtitle {

}

.hebergements .Article-Rating {

}

.hebergements h3 {
    margin-top: 50px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left; 
    color: black;
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements p {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 5px solid #FFFFFF;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********** Header  **********/
header {
    height: 79px;
    padding: 0px 0.3096923828125px 0px 0px;
}

/****** Menu ******/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 79px;
}


/* Logo */
.navbar img {
    width: 61.08px; /* Taille du logo */
    margin: 0;
}

/* Liens */
nav a {
    margin-left: 30px;
    color: black;
    text-decoration: none;
}
  

/* Effet de survol du menu */
a:hover {
    color: rgb(0,101,252,100);
    text-decoration: overline;
}

/****** Titres et Paragraphes ******/

h1 {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}


/***** Barre de recherche *****/
.SearchBar {
    display: flex;
    border-radius: 10px 0 0 10px;
    width: 377px;
    height: 49px;
    margin-bottom: 35px;
    margin-top: 35px;
}

/* icone map */
.SearchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 49px;
    border: 1px;
}

/* Barre de recherche */
input[type="text"] {
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
}

input[type="text"]:focus {
    outline: none;
}

/* Texte */
input[type="text"]::placeholder {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

/* Bouton */
.SearchButton {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #0065FC; 
    color: white; 
    border: 1px;
    width: 132px;
    height: Fixed 49px;
    padding: 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    gap: 10px;
    cursor: pointer;
}


/****** FilterBar ******/
/* Style de base à la div contenant les éléments */
.FiltersDirectionRow {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

/* Style pour le paragraphe */
.FiltersDirectionRow p {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}

/* Style pour chaque bouton */
.ButtonFilter {
    display: flex;
    align-items: center;
    padding: 4px 19px 4px 19px;
    margin-left: 10px;
    border: 2px solid #cccccc;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    height: 50px;
}

/* Style pour l'image du bouton */
.ButtonFilter img {
    width: 20px;
    height: 22px;
    padding: 2.86956524848938px 0px 2.8695666790008545px 0px;
    margin-right: 10px;
}

/* Style pour le texte du bouton */
.ButtonFilter span {
    font-family: Raleway;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

/* Effet de survol du bouton */
.ButtonFilter:hover {
    background-color: #DEEBFF;
    color: black;
}

/****** Div Informations ******/
.Informations {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.Informations img {
    width: 24px;
    height: 24px;
    border: 1px;
    
}

.Informations span {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}